html, body {
  height: 100%;
}

*{
  
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
}

#canvas{
  position: absolute;
  top: 0;
  left: 0;
  z-index:1;
}

#video{
  margin: 0;
  padding: 0;
  border: 0;
  position: absolute;
  z-index:-1;
  width: 100vw;
  display: none;
}